.bla a.notfound {
  background: #000;
  color: #fff;
  border-radius: 5px;
  padding: 15px 20px;
  transition: all 0.4s;
}
.bla a.notfound:hover {
  background-color: #cf1c1f;
  text-decoration: none;
}
